$color-grey: #1a1a1a;
$orangey-yellow: #ffb71b;
$pinky: #e93a7d;
$color-primary: #e93a7d;
$color-black: #121212;
$color-black-70: #121212b3;
$color-white: #b8b8b8;
$color-white-light: #e5e5e5;
$color-white-absolute: #fff;
$color-white-dark: #a0a0a0;
$color-backdrop: #000000c4;
$color-grey: #1a1a1a;
$color-grey-lighter: #818181;
$color-grey-light: #313131;
$color-grey-dark: #121212;
$color-text-on-primary: #ffffff;
$color-checkbox: #25dac5;

/* ---Border Radius--- */
$br-soft: 12px;
$br-hard: 30px;
