.container {
  padding: 40px;
}

.description {
  color: rgba(21, 20, 57, 0.4);
}

.hero_image {
  margin-left: -40px;
  margin-top: -40px;
  img {
    width: 560px;
    height: 200px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
  }
}
.card {
  width: 560px;
  height: 400px;
  padding: 40px;
  background-color: #ffffff;
  box-shadow: 0 5px 5px 5px rgba(0, 0, 0, 0.25);
  border-radius: 12px;
  margin-bottom: 20px;
  position: relative;
}

.brand_image {
  width: 560px;
  padding-right: 80px;
  span {
    height: 35px;
    width: 220px;
    margin-top: 40px;
    padding: 10px 44px 1px 44px;
    color: #ffffff;
    background-color: #062a39;
    border-radius: 12px;
    text-align: center;
  }
  position: absolute;
  padding-top: 20px;
  bottom: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.brand_button{
  padding-bottom: 30px;
}
.brand_icon{
  padding-top: 35px;
}

@media (max-width: 768px) {
  .container {
    padding: 40px;
  }
}


@media (max-width: 500px) {
  .container{
    margin-top: 100px;
  }
  .card{
    width: 100%;
    height: 500px;
  }
  .hero_image {
    margin-right: -40px;
    img{
      width: 100%;
    }
  }
  .brand_image{
    padding: 0;
    flex-direction: column-reverse;
    span {
      margin-top: 10px;
    }
  }
  .brand_button{
    padding-bottom: 40px;
  }
  .brand_icon{
    padding-top: 0;
  }
}
