.button {
  border-radius: $br-soft;
  cursor: pointer;
  display: flex;
  align-items: center;
  word-break: break-word;
  gap: 10px;
  border: 1px solid;
  height: 3rem;
  position: relative;

  .badge {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    top: -1px;
    right: -0.7rem;

    @include for-desktop-up {
      right: 0;
      top: -7px;
      width: 25px;
      height: 25px;
    }
  }

  &.primary {
    background-color: $color-primary;
    border-color: $color-primary;
    color: $color-text-on-primary;
  }

  &.secondary {
    background-color: #5ffc7b;
    border-color: #28d146;
    color: #fff;
  }

  &.terciary {
    background-color: #e93a7d;
    border: #e93a7d;
    color: #fff;
  }

  &.disabled {
    background-color: var(--color-grey);
    // border: none;
    border-color: var(--color-grey-light);
    color: var(--color-grey-light);
    cursor: not-allowed;
  }

  &.transparent {
    background-color: transparent;
    border-color: transparent;
    color: var(--color-text-on-transparent);
  }

  &.icon {
    background-color: transparent;
    border-color: transparent;
    padding: 0;
  }

  &.brHard {
    border-radius: $br-hard;
  }
}
