.container {
  padding: 10px 20px;
  position: fixed;
  background: #fff;
  z-index: 1000;
  width: 90vw;
  left: 50%;
  transform: translateX(-50%);
  top: 7%;
  max-width: 500px;
  min-width: 300px;
  border: var(--color-primary) 1px solid;
  border-radius: 15px;

  // @media (orientation: landscape) {
  @media (min-width: 800px) {
    position: absolute;
    width: 15vw;
    left: 50%;
    top: 120%;
  }

  .item {
    margin-block: 15px;
    color: var(--color-white-dark);
    display: flex;
    cursor: pointer;
  }

  .items {
    color: var(--color-white-dark);
    p {
      span {
        color: var(--color-primary);
      }
    }
  }

  .icon {
    color: var(--color-white-dark);
    margin-right: 10px;
  }
}