.container{
  transform: rotate(0deg);
  transition: all 0.5s ease-in-out;
  display: flex;
  max-width: 1920px;
  padding: 8%;
  background-color: #ffb71b;
  position: relative;
}

.line {
  width: 2px;
  height: 120px;
  margin: auto;
  border: solid 2px #ebeaed;
}

.banners{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width:100vw;
  text-align: center;
}

.text{
  margin-top: 1rem;
}
/* Responsive layout - makes a one column layout instead of a two-column layout */
@media (max-width: 800px) {

  .banners {
    flex-direction: column;
  }
  .line {
    width: 170px;
    height: 2px;
    margin: 15px 0 15px 0;
  }
  .text {
    max-width: 200px;
    padding-left: 30px;
    padding-right: 30px;
  }
}