.container{
  height: 120px;
  padding: 40px;
}
.logo{
  z-index: 1000;
  position: absolute;
  object-fit: contain;
  width: 1398px;
  height: 100px;
}

.navbar{
  position: relative;
  display: flex;
  flex-direction: row;
  margin-left: 250px;
  overflow: hidden;
}

.social_networks{
  display: flex;
  flex-direction: row;
  gap: 5px;
}

/* Responsive layout - makes a one column layout instead of a two-column layout */
@media (max-width: 800px) {
  .container{
    padding: 40px;
  }
}