.menu {
  display: hidden;
  background-color: #2f1893;
  position: fixed;
  transform: translateX(-100%);
  transition: transform 0.4s;
  overflow-x: hidden;
  z-index: 1000;
  padding: 10px;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.container {
  z-index: 1000;
}
.open {
  animation: 0.2s linear 0s forwards openAnimation;
  display: block;
}

.button {
  background-color: #e93a7d;
  border: #e93a7d;
}

.button__about_us {
  background-color: #ffb71b !important;
  border: #ffb71b !important;
}

.button_contact{
  background-color: #28d146 !important;
  border: #28d146 !important;
}

.primary_title {
  color: #e93a7d;
  display: flex;
  gap: 20px;
}
.secondary_title {
  color: #ffb71b;
  display: flex;
  gap: 20px;
}

.close_button {
  color: #ffffff !important;
}

.close {
  animation: 0.2s linear 0s forwards closeAnimation;
}

@keyframes openAnimation {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes closeAnimation {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.container .section:nth-child(2) {
  margin-top: 0.5rem;
}

.section {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 1rem;
}

.stores {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.navbar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 200px;
  gap: 1.5rem;
}
