.form {
  width: 90%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  row-gap: 1rem;
  column-gap: 2rem;
  align-items: end;
  padding: 45px;
}

.legend {
  grid-column: span 4;
  padding-top: 10px;
}

.buttonWrapper {
  padding-top: 10px;
  grid-column: 2/4;
  justify-self: center;
}

.labeled {
  min-width: 2em;
  min-height: 2em;
  display: flex !important;
  align-items: center;
  align-content: center;
  text-align: center;
  border-top-left-radius: 500rem !important;
  border-bottom-left-radius: 500rem !important;
}

.circular_labeled_input {
  border-top-right-radius: 500rem !important;
  border-bottom-right-radius: 500rem !important;
}

.container {
  width: 80vw;
  right: 0;
  position: relative;
  form {
    input[type="text"]:not(.circular_labeled_input),
    input[type="password"],
    input[type="email"] {
      border-radius: 16px !important;
    }
  }
}
.dropdown {
  [role="listbox"] {
    border-radius: 16px !important;
  }
}

.button {
  text-align: center;
  button {
    width: 80%;
  }
}
