.container {
  z-index: 200;
  position: fixed;
  top: 35%;
  right: 0;
  width: 400px;
  height: 470px;
  padding: 11.8px 0 33px;
  margin: 0 30px 0 0;
  border-radius: 8px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  form {
    padding: 20px;
    font-family: "Montserrat" !important;
    label {
      text-align: left;
      font-size: 15px;
      font-weight: 500;
      color: rgba(0, 0, 0, 1) !important;
    }
    button {
      width: 350px;
      height: 52px;
    }
  }
}
.labeled {
  display: flex;
  align-items: center;
  align-content: center;
  text-align: center;
  padding: 0.833em 0.833em !important;
}
.cross {
  z-index: 100;
  position: absolute;
  margin: 1rem;
  top: 0;
  right: 0;
  width: 15px;
  height: 15px;
  cursor: pointer;

  &::before,
  &::after {
    content: "";
    position: absolute;
    width: 2px;
    height: 100%;
    background-color: black;
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }
}

@media (max-width: 500px) {
  .container {
    width: 90%;
    margin: 20px;
    padding-bottom: 60px;
    top: 20%;
    form {
      button {
        width: 100%;
      }
    }
  }
}

@media (max-height: 700px) {
  .container {
    height: 60%;
    align-items: flex-start;
    overflow-y: scroll;
  }
}
