.hero {
  margin-top: -220px;
  z-index: -10;
  text-align: left;
  background-color: #2f1893;
}

.hero_background {
  height: 700px;
}
.hero_title {
  margin-top: -380px;
  max-width: 1100px;
  position: relative;
}

.hero__button {
  height: 60px;
  font-family: "Montserrat" !important;
  font-size: 18px !important;
  font-weight: 500 !important;
}

.title_buttons {
  margin-top: 30px;
  margin-left: 300px;
}

.title_text {
  display: flex;
  flex-direction: column;
  gap: 1px;
  font-family: "Poppins" !important;
  max-width: 1000px;
  padding-left: 300px;
  h1 {
    color: #e93a7d !important;
    line-height: 46px;
  }
  span {
    letter-spacing: -1px;
    line-height: 46px;
  }
}

.hero_background_image {
  margin-top: -340px;
  text-align: right;
}

.unirme_button {
  box-shadow: 0px 0px 0px 1px #fff inset !important;
}

.form_background {
  width: 100vw;
  background-color: #2f1893;
  margin: auto;
  padding-left: 70px;
  form {
    border-radius: 16px;
  }
}

@media (max-width: 767px) {
  /* adjust padding for mobile */

  .title_buttons {
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    padding-right: 20%;
  }
  .title_text {
    max-width: 300px;
    padding-left: 20px;
  }
}

@media (max-width: 1000px) {
  .hero {
    padding: 0 0 0 3rem;
  }
}

@media (max-width: 800px) {
  .hero_title {
    margin-top: 0;
  }
  .title {
    max-width: 400px;
  }
  .title__text {
    padding-left: 0;
  }
  .buttons {
    padding-left: 0;
    margin-bottom: 48px;
  }
  .learn_more__button {
    margin: 20px 0 0 0;
  }
  .sign_up__button {
    margin: 20px 0 0 0;
  }
  .hero_background {
    margin-top: -600px;
    opacity: 0.2;
  }
}

@media (max-width: 500px) {
  .hero {
    padding: 0;
  }
  .buttons {
    flex-direction: column;
  }
  .title {
    max-width: 250px;
    padding: 0;
  }
  .title__text {
    padding-left: 0;
    margin: 0 60px 0 -30px;
  }
  .buttons {
    padding-left: 0;
    margin-bottom: 48px;
  }
  .learn_more__button {
    margin: 0 60px 0 0;
  }
  .sign_up__button {
    margin: 0 60px 0 0;
  }
  .hero_background {
    margin-top: -740px;
    opacity: 0.2;
  }
  .hero_background_image {
    margin-top: -550px !important;
  }
}
