.home {
  max-width: 1920px;
  background-color: #2f1893;
  position: relative;
  margin-top: -220px;
  padding-top: 200px;
  z-index: -10;
  transition: all 0.3s ease-in-out;
}

.hero {
  padding: 30px 0 0 100px;
}
.hero_background {
  margin-top: -340px;
  text-align: right;
}

.title {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-family: "Poppins" !important;
  max-width: 800px;
  h1 {
    color: #e93a7d !important;
  }
  span {
    letter-spacing: -1px;
    line-height: 46px;
  }
}

.title__text {
  padding-left: 200px;
}

.buttons {
  display: flex;
  flex-direction: row;
  gap: 4px;
  padding-left: 200px;
  align-items: center;
  margin-top: 20px;
  font-family: 'Montserrat' !important;
}

.learn_more__button {
  width: 249.6px;
  height: 60px;
  margin: 57px 48.7px 0 0;
  padding: 17px 29.6px 17px 30px;
  border-radius: 100px;
  background-color: #e93a7d;
}
.sign_up__button {
  width: 250px;
  height: 60px;
  padding: 17px 29.6px 17px 30px;
  border-radius: 100px;
  border: solid 2px #fff;
}

.vector {
  width: 350px;
  height: 708.8px;
  margin: 152px 0 575.2px 1050px;
  padding: 173.6px 0px 173.6px 176.4px;
  background-image: linear-gradient(
    to bottom,
    #fff 0%,
    rgba(255, 255, 255, 0) 100%
  );
}

.form {
  width: 580px;
  height: 750px;
}

@media (max-width: 800px) {
  .title {
    max-width: 400px;
  }
  .title__text {
    padding-left: 0;
  }
  .buttons {
    padding-left: 0;
    margin-bottom: 48px;
  }
  .learn_more__button {
    margin: 20px 0 0 0;
  }
  .sign_up__button {
    margin: 20px 0 0 0;
  }
  .hero_background {
    margin-top: -600px;
    opacity: 0.2;
  }
}
